<% provide(:title, "Home") %>

<div class="welcome">
  <h1>Welcome to the Movie App</h1>

  <% if !(logged_in?) %>
    <section>
      <p> To access the database please log in: </p>
      <a class="btn btn-add" href=<%= login_path %>>Login</a>

      <p> You don't have an account yet? </p>
      <a class="btn btn-add" href=<%= users_new_path %>>
        Sign Up
      </a>
    </section>
  <% end %>

</div>


