<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to the Movie App</h1>
  <p> Here you can view a list of movies and their actors.</p>


  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>


<%= link_to image_tag("kitten.jpg", alt: "kitten pic")%>