<div class="index">

  <% provide(:title, 'Actor list') %>
  <h1>Actors</h1>
  <p>See a list of all actors in the database:</p>

  <table class="all-db-entries">
    <%= render partial: 'list_actors', locals:  {:actors => @actors } %>
  </table>

  <a class="btn btn-add" href=<%= new_actor_path %>>
    add actor
  </a>

</div>