<div class="index">

  <% provide(:title, 'Actor list') %>
  <h1>Actors</h1>
  <p>See a list of all actors in the database:</p>

  <table class="all-db-entries">
    <%= render partial: 'layouts/list_actors', locals:  {:actors => @actors } %>
  </table>

  <div class="btn btn-add">
    <%= link_to "add actor", 'actors/new' %>
  </div>

</div>