<% provide(:title, 'Actor list') %>
<h1>Actors</h1>
<p>See a list of all actors in the database:</p>
<ul>
  <% @actors.each do |actor| %>
    <li>
      <%= link_to actor.name, actor_path(actor.id) %>
    </li>
  <% end %>
</ul>


<h2><%= link_to "Add actor", 'actors/new' %></h2>
