<% provide(:title, 'Actor list') %>
<h1>Actors</h1>
<p>See a list of all actors in the database:</p>

<table>
  <% @actors.each do |actor| %>
    <tr>
      <td>
        <%= link_to actor.name, actor_path(actor.id) %>
      </td>
      <td>
        <%= link_to 'delete', actor_path(actor.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </td>
      <td>
        <%= link_to 'edit', edit_actor_path(actor.id)%>
      </td>
    </tr>
  <% end %>

</table>

<h2><%= link_to "Add actor", 'actors/new' %></h2>
