<div class="index">

  <% provide(:title, 'Actor list') %>
  <h1>Actors</h1>
  <p>See a list of all actors in the database:</p>

  <table class="all-db-entries">
    <%= render partial: 'list_actors', locals:  {:actors => @actors } %>
  </table>
max
  <div class="btn btn-add">
    <%= link_to "add actor", new_actor_path %>
  </div>

</div>