<% showtimes.each do |showtime| %>
  <tr>
    <td class="three-columns">
      <%= showtime.cinema %>
    </td>
    <td class="three-columns">
      <%= showtime.date %>
    </td>
    <td class="three-columns">
      <%= showtime.time %>
    </td>
  </tr>
<% end %>