<% showtimes.each do |showtime| %>
  <tr>
    <td class="three-columns">
      <%= showtime.cinema %>
    </td>
    <td class="three-columns">
      <%= showtime.date %>
    </td>
    <td class="three-columns">
      <%= showtime.time %>
    </td>
    <td class="edit-row">
      <%#= link_to 'edit', edit_role_path(role) %>
    </td>
    <td class="delete-row">
      <%#= link_to 'delete', role_path(role.id),
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </td>
  </tr>
<% end %>