<div class="search-results">

  <% provide(:title, 'Movie search') %>
  <h1>Results</h1>

  <table class="all-db-entries">
    <%= render partial: 'list_movies', locals: {:movies => @movies}%>
  </table>

  <div class="btn btn-back">
    <%= link_to 'back', movies_path %>
  </div>

</div>