<div class="search-results">

  <% provide(:title, 'Movie search') %>
  <h1>Results</h1>

  <table class="all-db-entries">
    <%= render 'layouts/list_movie' %>
  </table>

  <div class="btn btn-back">
    <%= link_to 'back', movies_path %>
  </div>

</div>