<% provide(:title, 'Movie search') %>
<h1>Results</h1>

<table>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= link_to movie.title, movie_path(movie.id) %>
      </td>
      <td>
        <%= link_to 'delete', movie_path(movie.id),
                    method: :delete,
                    data: {confirm: 'Are you sure?'} %>
      </td>
      <td>
        <%= link_to 'edit', edit_movie_path(movie.id) %>
      </td>
    </tr>
  <% end %>

</table>

<%= link_to 'Back to all movies', movies_path %>