<div class="index">

  <% provide(:title, 'Roles') %>

  <h1>Roles</h1>
  <p>See a list of all roles in the database:</p>

  <table class="all-db-entries">
    <%= render partial: 'layouts/list_roles_movies', locals: {:roles => @roles}%>
  </table>

  <a class="btn btn-add" href=<%=new_role_path %>>
    add role
  </a>


</div>