<header class="navbar navbar-fixed-top navbar-inverse">

  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Actors", actors_path %></li>
        <li><%= link_to "Movies", movies_path %></li>
        <li><%= link_to "Roles", roles_path %></li>
      </ul>
    </nav>
  </div>

  <img src="movie.jpg" alt="movie pic">

</header>