<% roles.each do |role| %>
  <tr>
    <td class="second-table-entry">
      <%= link_to Movie.find(role.movie_id).title, movie_path(role.movie_id) %>
    </td>
    <td class="second-table-entry">
      <%= link_to role.character, role_path(role) %>
    </td>
    <td class="edit-row">
      <%= link_to 'edit', edit_role_path(role.id) %>
    </td>
    <td class="delete-row">
      <%= link_to 'delete', role_path(role.id),
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </td>
  </tr>
<% end %>