<td class="third-table-entry">
  <%= link_to role.character, role_path(role) %>
</td>
<td class="edit-row">
  <%= link_to 'edit', edit_role_path(role) %>
</td>
<td class="delete-row">
  <%= link_to 'delete', role_path(role.id),
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
</td>