<% array.each do |element| %>
  <tr>
    <td class="first-table-entry">
      <%= link_to element.to_s, element %>
    </td>
    <td class="edit-row">
      <%= link_to 'edit', [:edit, element] %>
    </td>
    <td class="delete-row">
      <%= link_to 'delete', element,
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </td>
  </tr>
<% end %>
